.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.header > div {
    display: flex;
    align-items: center;
}
.header > div:nth-child(2) {
    flex: 1 0 auto;
}

.logoImg {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

h2 {
    margin-right: 30px;
}

.header_icon {
    margin: 0 10px;
}

.searchBox {
    width: 100%;
    padding: 15px 15px 15px 45px;
    /* position:absolute; */
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 243, 244);
    font-size: 15px;
}

.searchBox:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 7px rgb(128, 128, 128);
}

.search_button {
    position: relative;
    right: -40px;
    width: 30px;
}

.refresh_icon {
   cursor: pointer;
   width: 30px;
}

.light_icon {
    margin-right: 30px;
    width: 50px;
    cursor: pointer;
}
@media(max-width:560px){
.header > div:nth-child(2) {
display: none;
}
}
    @media(max-width:800px){
    .search_button {
        width: 30px;
    }
    
    .refresh_icon {
       width: 30px;
    }
    
    .light_icon {
        width: 30px;
    }
}